.courseInfo {
    padding: 15px;
}

.link {
    font-size: 14px;
    font-weight: 400;
    color: rgb(10, 10, 20);
    text-decoration: none;
}

.title {
    font-size: 32px;
    color: rgb(10, 10, 20);
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: -0.04em;
}

.content {
    display: flex;
    justify-content: space-between;

    @media (max-width: 990px) {
        flex-direction: column;
        gap: 20px;
    }
}

.description {
    width: 60%;
    font-size: 20px;
    color: rgb(10, 10, 20);
    font-weight: 500;

    @media (max-width: 990px) {
        width: 100%;
    }
}

.infoWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 30%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @media (max-width: 990px) {
        width: 100%;
    }
}

.infoTitle {
    font-size: 20px;
    color: rgb(10, 10, 20);
    font-weight: 700;
}

.infoDesc {
    font-size: 20px;
    color: rgb(10, 10, 20);
    font-weight: 500;
}