.durationCoun {
    font-size: 24px;
    font-weight: 400;
    color: rgb(22, 22, 69);
}

.addAuthorTitle {
    font-size: 18px;
    font-weight: 500;
    color: rgb(22, 22, 69);
    text-align: center;
}

.durationCounNumber {
    font-size: 30px;
    font-weight: 600;
    color: rgb(22, 22, 69);
}

.addInput {
    width: 90%;
    height: 35px;
    padding: 10px;
    border: 1px solid yellowgreen;
    border-radius: 4px;
    outline: none;
    margin-bottom: 20px;
}