.button {
    border: 2px solid rgb(4, 4, 120);
    border-radius: 4px;
    color: rgb(2, 2, 19);
    background-color: #fff;
    padding: 8px 18px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}