.addAuthorTitle {
    font-size: 18px;
    font-weight: 500;
    color: rgb(22, 22, 69);
    text-align: center;
}

.textEmptyList {
    font-size: 16px;
    color: rgb(18, 18, 57);
    display: flex;
    justify-content: center;
    margin-top: 15px;
}